$colorAzulGris: rgb(105, 105, 192);
$colorVerde: rgba(42, 161, 18, 0.74);
$colorBorde: rgba(10, 134, 31, 0.678);
$tamanoimagen: 60%;
$tamanocol: 950px;
$anchovideo: 560px;
$altovideo: 315;
$anchologo: 350px;
$altologo: 75px;
$footer: green; /*no entiendo cómo declarar esta variable */
$footers: (Beneficios: blue, Contacto: yellow, Envios: red);
